<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Travlog</title>
  <link rel="icon" href="/elements/Vector.svg" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Raleway&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <!-- nav bar -->

  <div class="start">
    <div class="main">
      <video muted autoplay loop src="/elements/travlogVidHD.mov"></video>

      <div class="container">
        <div class="navbar">
          <div class="brand">
            <img class="box" src="/elements/Vector.svg" height="40px" />
            <p>Travlog</p>
          </div>
          <div class="nav">
            <a href="/home" id="selected" style="color:black;transform: scale(1.04);">Home</a>
            <a href="/home" class="nonselected">Discover</a>
            <a href="/home" class="nonselected">Special Deals</a>
            <a href="/home" class="nonselected">Contact</a>
          </div>

          <%if(id==="none"){%>
            <div class="login1">
              <form method="get" action="/login">
                <button id="login" type="submit">Log In</button>
              </form>
              <form method="get" action="/signup">
                <button id="signup">Sign Up</button>
              </form>
            </div>
            <%}else{%>
              <div class="user">
                <i class="fa-solid fa-user" id="userProf"></i>
                <div class="userDropdown">
                  <a href="#">My Booking</a>
                  <a href="#">Previous trip</a>
                  <a href="#">Edit profile</a>
                  <a href="/home">LogOut</a>
                </div>
              </div>
              <%}%>
                <img src="/elements/menu.11 1.svg" id="mobileDrop" />
        </div>

        <!-- middle part -->

        <div class="page1">
          <div class="description">
            <h2>
              Travel
              <p id="bwPink">top <br />destination</p>
              of the<br />
              world
            </h2>
            <p>
              We always make our customer happy by providing <br />as many
              choices as possible
            </p>
            <div class="btn">
              <button class="getStarted">Get Started</button>
              <button class="watchDemo">
                <img src="/elements/play-circle.5 1.svg" />Watch Demo
              </button>
            </div>
          </div>
          <div class="main-img">
            <img src="/elements/Frame 15.png" />
          </div>
        </div>
      </div>

      <!-- suggestion  -->

      <div class="sc">
        <div class="sponsers">
          <h1><img src="/elements/Group.svg" /></h1>
          <h1><img src="/elements/Group 2.svg" /></h1>
          <h1><img src="/elements/Group (1).svg" /></h1>
          <h1><img src="/elements/Group 9235.svg" /></h1>
          <h1><img src="/elements/Group 3.svg" /></h1>
        </div>
        <div class="sponsers">
          <h1><img src="/elements/Group.svg" /></h1>
          <h1><img src="/elements/Group 2.svg" /></h1>
          <h1><img src="/elements/Group (1).svg" /></h1>
          <h1><img src="/elements/Group 9235.svg" /></h1>
          <h1><img src="/elements/Group 3.svg" /></h1>
        </div>
      </div>
      <div class="destination">
        <div class="desHead">
          <div id="head">
            <h3>TOP DESTINATION</h3>
            <h4>Explore top destination</h4>
          </div>
          <div class="navbtn">
            <div class="left">
              <i id="left" class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="right">
              <i id="right" class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="card">
            <img src="/elements/des1.jpeg" width="345px" height="350px" style="border-radius: 25px 25px 0 0" />
            <div class="info">
              <div class="infohead">
                <p id="locName">Paradise Beach, <br />Bantayan Island</p>
                <p id="price" style="color: #e6689e">$550.16</p>
              </div>
              <p id="loc">Rome, Italy</p>
              <div class="rating">
                <p>4.8</p>
                <img src="/elements/star 1.svg" />
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/elements/des2.jpeg" width="345px" height="350px" style="border-radius: 25px 25px 0 0" />
            <div class="info">
              <div class="infohead">
                <p id="locName">Ocean with full of Colors</p>
                <p id="price" style="color: #e6689e">$20.99</p>
              </div>
              <p id="loc">Lakshwadweep</p>
              <div class="rating">
                <p>4.5</p>
                <img src="/elements/star 1.svg" />
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/elements/des3.jpeg" width="345px" height="350px" style="border-radius: 25px 25px 0 0" />
            <div class="info">
              <div class="infohead">
                <p id="locName">Mountain view, <br />Above the cloud</p>
                <p id="price" style="color: #e6689e">$150.99</p>
              </div>
              <p id="loc">United Arab Emeries</p>
              <div class="rating">
                <p>5.0</p>
                <img src="/elements/star 1.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer part -->

      <div class="footer">
        <div class="desFoot">
          <div class="desFoot1">
            <div class="brand">
              <img src="/elements/Vector.svg" height="40px" />
              <p id="brand">Travlog</p>
            </div>
            <div class="aboutBrand">
              <p>
                Contrary to popular belief, Lorem Ipsum is not simply
                <br />random text. It has roots in a piece of classical Latin
                <br />
                literature from 45 BC.
              </p>
            </div>
          </div>

          <div class="social">
            <img class="social_image" src="/elements/Groupd.svg" height="32px" alt="Facebook" />
            <img class="social_image" src="/elements/Group (1d).svg" height="32px" alt="Twiter" />
            <img class="social_image" src="/elements/Group 8.svg" height="32px" alt="Instagram" />
          </div>
        </div>
        <div class="lists">
          <h5>Company</h5>
          <i class="fa-solid fa-circle-chevron-down"></i>
          <p>About</p>
          <p>Career</p>
          <p>Mobile</p>
        </div>
        <div class="lists">
          <h5>Contact</h5>
          <i class="fa-solid fa-circle-chevron-down"></i>
          <p>Why Travlog?</p>
          <p>Partner with us</p>
          <p>FAQ's</p>
          <p>Blog</p>
        </div>
        <div class="lists">
          <h5>Meet Us</h5>
          <i class="fa-solid fa-circle-chevron-down"></i>
          <p>+91........</p>
          <p>info@travlog.com</p>
          <p>205. R Street, New York <br />BD23200</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Chat Bot -->

  <div class="chatBoat" onclick="chatBotTransition()">
    <img src="/elements/robot-assistant.png" alt="" />
  </div>

  <div class="chat-container">
    <%if(id!=="none"){%>
      <div class="chat-header">
        <img src="/elements/robot-assistant.png" alt="" />
        <h3>Chat Bot</h3>
        <i class="fa-solid fa-xmark" onclick="chatBotTransition()"></i>
      </div>
      <div class="chat-messages" id="chat-messages">
        <div class="message bot-message">Hello! Specify Your Problem</div>
      </div>
      <div class="chat-input">
        <input type="text" id="user-input" placeholder="Type a message..." />
        <button id="send-btn">Send</button>
      </div>
      <%}else{%>
        <div class="chat-header">
          <img src="/elements/robot-assistant.png" alt="" />
          <h3>Chat Bot</h3>
          <i class="fa-solid fa-xmark" onclick="chatBotTransition()"></i>
        </div>
        <div class="chat-messages" id="chat-messages">
          <div class="message bot-message">Login to use chatbot!</div>
        </div>
        <div class="chat-input" style="display: none;">
          <input type="text" id="user-input" placeholder="Type a message..." />
          <button id="send-btn">Send</button>
        </div>
        <%}%>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/script.js">

    document.getElementById('send-btn').addEventListener('click', function () {
      const userInput = document.getElementById('user-input').value;
      const userMsg = document.createElement("div");
      userMsg.className = "message user-message";
      userMsg.textContent = userInput;
      document.getElementById('user-input').value = ""

      document.getElementById("chat-messages").appendChild(userMsg);
      // Send the user input to the backend API
      fetch('http://127.0.0.1:5000/predictu', {  // Replace with your backend URL
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ message: userInput })
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          console.log(data["answer"]);
          // Display the AI's response in the chat

          const botMessage = document.createElement('div');
          botMessage.className = 'message bot-message';
          botMessage.textContent = data.answer;

          document.getElementById('chat-messages').appendChild(botMessage);
        })
        .catch(error => console.error('Error:', error));

    });
  </script>
</body>

</html>