
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travlog Login</title>
    <link rel="icon" href="/elements/Vector.svg" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container-login">
      <div class="loginBox">
        <div class="directLog">
          <div class="dlogBtn" id="google">
            <img src="elements/google.png" height="25px" />
            <a href="#">Login up with Google</a>
          </div>
          <div class="dlogBtn" id="fb">
            <img src="elements/fb.png" height="25px" />
            <a href="#">login up with Facebook</a>
          </div>
        </div>
        <p>- OR -</p>
        <div class="detailLog">
          <form class="input" method="post" action="/login">
            <input type="text" name="email" placeholder="Email Address" />
            <input type="text" name="pass" placeholder="Password" />
            <div class="detailog-butt"><button>Log In</button></div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
