<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travlog Signup</title>
    <link rel="icon" href="/elements/Vector.svg" />
    <link rel="stylesheet" href="/style.css">
</head>
<body id="signBody">
    <div class="signCard">
        <h2 id="signWel">Welcome to Travlog!</h2>
        <h3 id="signDet">Enter Your Details:</h3>
        <form id="signForm" method="post" action="/signup">
            <label id="1">
                <input type="radio" name="userProp" value="client" id="cliProp">Client
            </label>
            <label id="2">
                <input type="radio" name="userProp" value="company" id="compProp">Company
            </label>
            <input type="text" name="name" id="signName" placeholder="Enter Your Name">
            <input type="text" name="email" id="signEmail" placeholder="Enter Your Email">
            <input type="text" name="password" id="signPass" placeholder="Enter Your New Password">
            <button id="signBtn">Sign Up!</button>
        </form>
        <p id="signPara">Already have an account! <a href="/login">Log in!</a></p>
    </div>
    <script src="/script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {

        const clientRadio = document.querySelector("#cliProp");
        const companyRadio = document.querySelector('#compProp');
        const signName=document.querySelector("#signName");
        console.dir(signName);
        function toggleRollInput() {
            if (companyRadio.checked) {
                signName.placeholder = 'Enter Your Company Name';
            } else {
                signName.placeholder="Enter Your Name";
            }
        }

        clientRadio.addEventListener('change', toggleRollInput);
        companyRadio.addEventListener('change', toggleRollInput);

        // Initialize the state based on the currently checked radio button
        toggleRollInput();
});

    </script>
</body>
</html>